<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Creddit - Posts topics and vote</title>
<style>
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid green;
  margin-left: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid red;
  margin-left: 5px;
}

.post {
  margin-left: 10px;
}

textarea {
  resize: none;
}

.cursor-hand {
  cursor: hand;
}

.post-topic {
  line-height: 45px;
  height: 37px;
  margin-left: 15px;
  font-size: 14px;
}

.votes-count {
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  height: 20px
}

.post-moment {
  font-size: 10px;
  margin-left: 15px;
}

.post-table {
  margin-top:10px
}

tr.post-item > td {
  padding-top: 10px;
}

</style>

</head>
<topic>
<div id="app" style="margin-top: 15px">
<table border="0" cellpadding="0" width="100%" style="margin-top:30px">
  <tbody>
    <tr>
      <td style="background-color: green; color: white"><div style="padding: 5px">Creddit</td>
    </tr>
    <tr>
      <td style="padding-top: 20px">
        <form id="postForm" v-on:submit.prevent>
          <textarea rows="4" style="width:99%" id="post-topic"></textarea>
          <br/>
          <button id="submitPost" v-on:click="savePost" style="margin-top:15px">Submit</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <post-table v-bind:posts="posts"></post-table>
      </td>
    </tr>
  </tbody>
</table>
</div>
</topic>
<script src="https://unpkg.com/vue"></script>
<script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  Vue.component('post-table', {
    props: ['posts'],
    template: `
      <table class="post-table">
        <tbody>
          <post-row v-for="(post, index) in posts"
                    v-bind:post="post"
                    v-bind:index="index"
                    :key="post.id">
          </post-row>
        </tbody>
      </table>
    `
  });

  Vue.component('post-row', {
    props: ['post', 'index'],
    template: `
      <tr class="post-item">
        <td valign="top">
          <table>
            <tbody>
              <tr valign="center">
                <td v-on:click="vote(post.id, 1)">
                  <a href="#"><div class="arrow-up"></div></a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="votes-count"> {{ post.votes }} </div>
                </td>
              </tr>
              <tr valign="top">
                <td v-on:click="vote(post.id, -1)">
                  <a href="#"><div class="arrow-down"></div></a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <div class="post post-topic">
            {{ index + 1 }}. {{ post.topic }}
          </div>
          <div class="post-moment">
            {{ momentDateTime(post.createdAt) }}
          </div>
        </td>
      </tr>`,
    methods: {
      vote: function(id, value) {
        //console.log(id, value);
        vote(id, value);
      },
      momentDateTime: function(datetime) {
        return moment(datetime).fromNow();
      }
    }
  });

  var app = new Vue({
    el: '#app',
    data: {
      posts: []
    },
    methods: {
      savePost: function() {
        savePost($('#post-topic').val());
      },
    }
  });

  var savePost = function(postBody) {
    $.ajax({
      type: 'POST',
      url: './api/posts/',
      data: JSON.stringify({ "topic": postBody }),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function(data) {
        $('#post-topic').val('');
        getPopularPosts();
      }
    });
  };

  var vote = function(id, value) {
    $.ajax({
      type: 'GET',
      url: './api/posts/' + id + '/vote/' + value,
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function(data) {
        getPopularPosts();
      }
    });
  }

  var getPopularPosts = function() {
    $.ajax({
      type: 'GET',
      url: './api/posts/popular',
      contentType:"application/json; charset=utf-8",
      dataType:"json",
      success: function(data) {
        //console.log(JSON.stringify(data));
        app.posts = data;
      }
    })
  };

  getPopularPosts();
});

</script>
</html>
